@using SAPPub.Web.Constants
@{
    ViewData["Title"] = "Page not found";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
            You can also <a data-testid="link" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" asp-route="@RouteConstants.Search">search for a school</a> to find the information you need.
        </p>
    </div>
</div>