@model SAPPub.Web.Models.SecondarySchool.AcademicPerformanceViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Academic Performance";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAcademicPerformance
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <govuk-details id="details-academic-performance">
            <govuk-details-summary>
                What do the qualifications mean?
            </govuk-details-summary>
            <govuk-details-text>
                <p>A GCSE is an academic qualification awarded for exams in England, usually taken at the age of 16.</p>
                <p>Technical Awards, such as BTECs, are work-related qualifications in areas like travel and tourism or animal care.</p>
                <p>If the qualification offered is not applicable, it means that pupils will study this subject but will not gain a qualification.</p>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>