@model SAPPub.Web.Models.SecondarySchool.AdmissionsViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Admissions";
}

<style>
    #admissions-accordion .govuk-accordion__controls {
        display: none;
    }
</style>

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAdmissions
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <govuk-accordion id="admissions-accordion" hide-all-sections-text="" show-all-sections-text="" hide-section-text="Show more" show-section-text="Show more">
            <govuk-accordion-item>
                <govuk-accordion-item-heading> What to do if you need to make an appeal</govuk-accordion-item-heading>
                <govuk-accordion-item-summary>If your child did not get into the school you wanted, you can appeal to an independent panel.</govuk-accordion-item-summary>
                <govuk-accordion-item-content>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Making an appeal
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">

                            <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-5"
                                 style="display:flex; align-items:flex-start;">
                                <span class="govuk-!-margin-right-2" aria-hidden="true">
                                    <svg class="govuk-info-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="12" y1="8" x2="12" y2="12"></line>
                                        <circle cx="12" cy="16" r="1"></circle>
                                    </svg>
                                </span>

                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                                    For places starting in September 2025, the deadline to submit an appeal is 20 May 2025
                                </p>
                            </div>

                            <dl class="govuk-summary-list">

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Guidance on appeals
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on appealing a school’s decision on GOV.UK
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Making an appeal
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on how to make an appeal on Sheffield City Council’s website
                                        </a>
                                    </dd>
                                </div>

                            </dl>
                        </div>
                    </div>

                </govuk-accordion-item-content>
            </govuk-accordion-item>

            <govuk-accordion-item>
                <govuk-accordion-item-heading>What to do if your child is moving schools</govuk-accordion-item-heading>
                <govuk-accordion-item-summary>If your child is moving schools, you’ll need to apply through your local council.</govuk-accordion-item-summary>
                <govuk-accordion-item-content>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">In-year admissions</h2>
                        </div>

                        <div class="govuk-summary-card__content">

                            <div class="govuk-summary-list__row govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                                <p class="govuk-body">
                                    If your child is moving schools, you’ll need to apply through your local council,
                                    even if you’re applying for a school in another council area or you’ve just moved to England.
                                </p>
                            </div>

                            <dl class="govuk-summary-list govuk-summary-list--no-border-top">

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Find out which schools have places
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on schools with vacancies on Sheffield City Council’s website
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Apply to change schools
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on applying to move schools on Sheffield City Council’s website
                                        </a>
                                    </dd>
                                </div>

                            </dl>
                        </div>
                    </div>

                </govuk-accordion-item-content>
            </govuk-accordion-item>
        </govuk-accordion>
    </div>
</div>