@model SAPPub.Web.Models.SecondarySchool.AdmissionsViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Admissions";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryAdmissions
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <govuk-accordion id="admissions-accordion" hide-all-sections-text="" show-all-sections-text="" hide-section-text="Show more" show-section-text="Show more">
            <govuk-accordion-item>
                <govuk-accordion-item-heading>What to do if your child is moving schools</govuk-accordion-item-heading>
                <govuk-accordion-item-summary>If your child is moving schools, you’ll need to apply through your local council.</govuk-accordion-item-summary>
                <govuk-accordion-item-content>
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">In-year admissions</h2>
                        </div>

                        <div class="govuk-summary-card__content">

                            <div class="govuk-summary-list__row govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                                <p>
                                    If your child is moving schools, you’ll need to apply through your local council,
                                    even if you’re applying for a school in another council area or you’ve just moved to England.
                                </p>
                            </div>

                            <dl class="govuk-summary-list govuk-summary-list--no-border-top">

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Find out which schools have places
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on schools with vacancies on Sheffield City Council’s website
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Apply to change schools
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <a class="govuk-link" href="#">
                                            View information on applying to move schools on Sheffield City Council’s website
                                        </a>
                                    </dd>
                                </div>

                            </dl>
                        </div>
                    </div>

                </govuk-accordion-item-content>
            </govuk-accordion-item>
        </govuk-accordion>
    </div>
</div>