@model SAPPub.Web.Models.SecondarySchool.CurriculumAndExtraCurricularActivitiesViewModel;
@using SAPPub.Web.ViewComponents.VerticalNavigation

@{
    ViewData["Title"] = "Curriculum and extra-curricular activities";
}

<div class="govuk-grid-row">
    @await Component.InvokeAsync("VerticalNavigation",
    new VerticalNavigationModel
    {
        Urn = Model.Urn,
        SchoolName = Model.SchoolName,
        ActivePage = RouteConstants.SecondaryCurriculumAndExtraCurricularActivities
    })

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <hr />

        <h3>
            Extra-curricular activities
        </h3>

        <h4>
            Activities schools can offer
        </h4>

        <p>
            Schools can offer a range of extra-curricular activities, for example:
        </p>

        <ul>
            <li>
                community or diversity clubs - some schools may offer activities such as an LGBT+ club or a wellbeing club
            </li>
            <li>
                creative arts
            </li>
            <li>
                clubs relating to an academic subject, not homework or revision sessions
            </li>
            <li>
                performing arts
            </li>
            <li>
                sports and physical activities
            </li>
            <li>
                volunteering
            </li>
            <li>
                uniform groups - some schools may offer Combined Cadet Force, Guides or Scouts, for example
            </li>
            <li>
                personal and social development - some schools may offer activities such as Duke of Edinburgh Award, for example
            </li>
        </ul>
    </div>
</div>