<govuk-notification-banner data-testid="special-school-warning-banner">
    <p class="govuk-notification-banner__heading">
        You're comparing a special school with other types of school. Some information may not be directly comparable.
    </p>
</govuk-notification-banner>
