<p class="govuk-body">
    These final figures show how students performed in their A levels. They are based on students who entered at least one A level or AS level and completed their studies in summer 2025.

    For more details, <a id="tech-guidance-link" class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/16-to-19-accountability-headline-measures-technical-guide">
        see 16 to 19 Accountability technical guidance <span class="govuk-visually-hidden">(opens in a new tab)</span>
    </a>
</p>

<govuk-details id="details-provisional-revised-final-figures">
    <govuk-details-summary>
        Find out more about provisional, revised and final figures
    </govuk-details-summary>
    <govuk-details-text>
        <p class="govuk-body">
            ​<strong>Provisional:</strong> Early release of results data that is still subject to minor changes because of, for example, late results, amendments following re-mark requests and pupil changes made via the Check Your Performance Measures Data (CYPMD) process. This is normally only for key stage 4 results and is published around October each year.
        </p>

        <p class="govuk-body">
            ​<strong>Revised:</strong> The main release of the year’s data, still subject to very minor changes via the CYPMD process. For KS2 this is usually published around December, and for KS4 and 16-18 this is usually published in February/March.
        </p>

        <p class="govuk-body">
            <strong>Final:</strong> Updated release including final figures data. Revised data normally becomes ‘final’ in late Spring each year.
        </p>

        <p class="govuk-body">
            ​For more information, <a data-testid="publication-timetables-link" class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.compare-school-performance.service.gov.uk/publication-timetable">
                visit the publication timetables <span class="govuk-visually-hidden">(opens in a new tab)</span>
            </a>
        </p>
    </govuk-details-text>
</govuk-details>