@model GatewayWelcomeViewModel
@{
    ViewBag.Title = "Closed";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Service closed
            </h1>
            
            <p>Sorry, service closed.</p>

        </div>
    </div>
</div>

