@model GatewayWelcomeViewModel
@{
    ViewBag.Title = "Welcome";
}

<!-- This obviously isn't the correct copy -->
<p>Cheers our kid, you've got an email with the link to return, you've also got 7 days to use the link.</p>

<govuk-button-link is-start-button="true" href="/">Start</govuk-button-link>