@model GatewayWelcomeViewModel
@{
    ViewBag.Title = "Trial ended";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Service closed
            </h1>
            
            <p>Thank you for your interest in School Profiles. The trial for this service has now ended.</p>

        </div>
    </div>
</div>

