@{
    ViewData["Title"] = "School Profile - Sector facing";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    School profiles
                </h1>

                <p class="govuk-body">
                    Use this service to find information about schools in England.
                </p>

                <p class="govuk-body">
                    You can search for schools in your area and then view information on:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>school policies</li>
                    <li>admissions</li>
                    <li>attendance</li>
                    <li>curriculum and extra-curricular activities</li>
                    <li>academic performance data</li>
                </ul>

                <p class="govuk-body">
                    <a href="@Url.Action("Index", "Search")" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
                        Start now
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>

    </main>
</div>