body:not(.js-enabled) .chart-table-toggle__chart,
body:not(.js-enabled) .chart-table-toggle__table-btn{
    display: none;
}


body.js-enabled .chart-table-toggle__table{
    display: none;
}

.chart-table-toggle [data-view-panel][hidden] {
    display: none;
}