// Chart Js related styles to show and enable containers

body:not(.js-enabled) .breakdown-gcse-current-year-chart-container,
body:not(.js-enabled) .breakdown-gcse-current-year-show-btn {
    display: none;
}

body:not(.js-enabled) .breakdown-gcse-current-year-table-container {
    display: block;
}

body.js-enabled .breakdown-gcse-current-year-chart-container,
body.js-enabled .breakdown-gcse-current-year-show-btn {
    display: block;
}

body.js-enabled .breakdown-gcse-current-year-table-container {
    display: none;
}