@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "custom";
@import "destinations";
@import "english-maths-results";

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.govuk-header__link .govuk-header__logotype {
    height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
}
