<h1>Search for secondary schools</h1>
<p>Use this service to find mainstream secondary schools in England</p>

<form method="get" asp-controller="Search" asp-action="SearchResults">
    @await Html.PartialAsync("_SearchPartial")
</form>
